In [1]:
import pandas as pd
import numpy as np

In [2]:
IMA_df = pd.read_csv('data/AAPL.csv')

In [3]:
IMA_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-01-03,177.830002,182.880005,177.710007,182.009995,180.434280,104487900
1,2022-01-04,182.630005,182.940002,179.119995,179.699997,178.144302,99310400
2,2022-01-05,179.610001,180.169998,174.639999,174.919998,173.405670,94537600
3,2022-01-06,172.699997,175.300003,171.639999,172.000000,170.510971,96904000
4,2022-01-07,172.889999,174.139999,171.029999,172.169998,170.679489,86709100

In [ ]:
#VWAP = (cum typical price * volume)/cum volume
#typical price = mean of high low and close

In [16]:
def VWAP(high, low, close):
    typical_price = np.mean([high, low, close])
    return typical_price

In [19]:
IMA_df['VWAP'] = IMA_df.apply(lambda x: VWAP(x["High"], x["Low"], x["Close"]), axis=1)
IMA_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,VWAP
0,2022-01-03,177.830002,182.880005,177.710007,182.009995,180.434280,104487900,180.866669
1,2022-01-04,182.630005,182.940002,179.119995,179.699997,178.144302,99310400,180.586665
2,2022-01-05,179.610001,180.169998,174.639999,174.919998,173.405670,94537600,176.576665
3,2022-01-06,172.699997,175.300003,171.639999,172.000000,170.510971,96904000,172.980001
4,2022-01-07,172.889999,174.139999,171.029999,172.169998,170.679489,86709100,172.446665

In [20]:
def daily_returns():
    total_returns = (Close * Volume)
    return total_returns

In [ ]:
IMA_df['Total Returns'] =